<!doctype html>

    <title>Upload an excel file</title>

    <style>

        #title
        {
            text-align: center;
        }
    </style>

    <div id="title">
        <h1> Part Number Match (xlsx only)</h1>
    </div>

    <span>Hello, {{request.user}}</span>
    <span><a href= "{% url 'myapp:logout' %}">Logout</a></span>

    <body bgcolor="gray">
    <form action="{% url "myapp:number" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Select Reference File</h4>
        <p><input type=file name=file>
        <h4>Select New Offer File</h4>
        <p><input type=file name=file1><br>
        <p><input type=submit value=Upload><br>
    </form>
    </body>
